apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  name: keepalived
  namespace: kube-system
spec:
  containers:
  - image: {{  registry_host  }}/cloudtogo/keepalived:2.0.17
    name: keepalived
    resources: {}
    securityContext:
      capabilities:
        add:
        - NET_ADMIN
        - NET_BROADCAST
        - NET_RAW
    volumeMounts:
    - mountPath: /usr/local/etc/keepalived/keepalived.conf
      name: config
    - mountPath: /etc/keepalived/check-apiserver.sh
      name: check
  hostNetwork: true
  volumes:
  - hostPath:
      path: {{ loadbalancer_config_dir }}/keepalived.conf
      type: FileOrCreate
    name: config
  - hostPath:
      path: {{ loadbalancer_config_dir }}/check-apiserver.sh
      type: FileOrCreate
    name: check